<html>
<head>
<title>
Azure CLoud | Ansible | Terraform | Azure Pipeline
</title>
</head>
<body>
<p style="font-size: 40px;">Azure CLoud | Ansible | Terraform | Azure Pipeline | Azure CLI </p>
  <br />
  <p style="font-size: 40px;">Public IP: {{public_ip}} </p>
  <br />
  <br />
  <p style="font-size: 40px;">APPlication Environment: {{env}} </p>
   <br />
  <br />
  </body>
</html>